<br>
<div class="container-fluid">
	<div id="myCarousel2" class="carousel slide" data-ride="carousel" style="height: 460px; border-style: ridge;">
		<ol class="carousel-indicators">
			<li data-target="#myCarousel2" data-slide-to="0" class="active"></li>
			<li data-target="#myCarousel2" data-slide-to="1"></li>
			<li data-target="#myCarousel2" data-slide-to="2"></li>
		</ol>
		
		<div class="carousel-inner">
			<div class="item active">
				<img src="Img/libros1.jpg" style="height: 100%;">
			</div>
			<div class="item">
				<img src="Img/libros2.jpg" style="height: 100%;">
			</div>			
			<div class="item">
				<img src="Img/libros3.jpg" style="height: 100%;">
			</div>
		</div>
		
		<a class="left carousel-control" href="#myCarousel2" data-slide="prev">
			<span class="glyphicon glyphicon-chevron-left"></span>
			<span class="sr-only">Previous</span>
		</a>
		<a class="right carousel-control" href="#myCarousel2" data-slide="next">
			<span class="glyphicon glyphicon-chevron-right"></span>
			<span class="sr-only">Next</span>
		</a>
	</div>
</div>