	<table>
		<tr>
			<p>Ariel Salazar Alvarado / Nibsa Contreras Martinez</p>
		</tr>
		<tr>
			<p colspan="2">&copy Todos los derechos reservados</p>
		</tr>
		<tr>
			<p>Email:  donalibros@acratico.cl</p>
		</tr>
		<tr>
			<p><span class="glyphicon glyphicon-phone"></span> Teléfono: +56969696969</p>
		</tr>
	</table>
