<div class="container-fluid">
	<div class="page-header">			
		<nav class="nav navbar-fixed-top" style="background-color: white;" role="navigation">
		<center><li><h1>Lectura Acrática</h1></li></center>
		<ul class="nav navbar-nav">
			<li><a href="/">Inicio</a></li>
			<li><a href="/about">Quienes Somos</a></li>
		</ul>
		<ul class="nav navbar-nav navbar-right">
			<li><a href="/registro"><span class="glyphicon glyphicon-user"></span> Registrarse</a></li>
			<li id="myBtn"><a href="/entrar"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
		</ul>
		</nav>
	</div>
</div>