'<ul class="nav navbar-nav">'+
'<li onclick="cargarPrincipal()"><a href="#">INICIO</a></li>'+
'<li><a href="#">QUIENES SOMOS</a></li>'+
'<li onclick="solicitarLibro()"><a href="#">SOLICITAR</a></li>'+
'</ul>'+
'<ul class="nav navbar-nav navbar-right" id="navegador-derecha">'+
'<li onclick="exit()"><a href="#"><span class="glyphicon glyphicon-arrow-right"></span>Salir</a></li>'+
'</ul>'