<div class="container-fluid">
	<div class="page-header">	
		<nav class="nav navbar-fixed-top" style="background-color: white;" role="navigation">
			<center><li><h1>Lectura Acrática</h1></li></center>
			<ul class="nav navbar-nav">
				<li onclick="/"><a href="#">INICIO</a></li>
				<li><a href="/about">QUIENES SOMOS</a></li>
				<li onclick="historial()"><a href="#">MIS LIBROS DONADOS</a></li>
				<li onclick="subirLibro()"><a href="#">SUBIR LIBROS</a></li>
			</ul>
			<ul class="nav navbar-nav navbar-right" id="navegador-derecha">
				<li onclick="exit()"><a href="#"><span class="glyphicon glyphicon-arrow-right"></span>Salir</a></li>
			</ul>
		</nav>
	</div>
</div>