<br>
<div class="panel panel-default">
	<div class="panel-heading"><h2>Ingresar</h2></div>
		<div class="panel-body">
			<form id="form" onsubmit="Conexion()">
				<div class="form-group">
					<label for="name">Usuario:</label>
					<input type="text" class="form-control" id="nombre" placeholder="Ingrese su nombre aquí..." required>
				</div>
				<div class="form-group">
					<label for="contraseña">Contraseña:</label>
					<input type="password" class="form-control" id="contraseña" placeholder="Ingrese su contraseña..." required>
				</div>
				<div class="form-group">
					<input type="submit" onclick="Conexion()" class="btn btn-default" id="ok" value="Entrar">
				</div>
				<div class="panel-footer">
						<center><p>Not a member? <a href="#">Sign Up</a></p>
						<p>Forgot <a href="#">Password?</a></p></center>
				</div>
			</form>
		</div>
</div>
	