<br>
<br>
<br>
<br>
<div class="panel panel-info">
      <div class="panel-heading">Quiénes Somos</div>
      <div class="panel-body"><p>Somos un sistema que facilita un servicio, nuestra misión consiste en difundir diversos materiales bibliográficos
a través de esta plataforma, con el fin de posibilitar el acceso a los libros
que no disponen los alumnos de ciertas instituciones y con el objetivo de incentivar 
a los usuarios a que den un buen uso a sus libros donándolos, para que la comunidad se abastezca 
de información y conocimiento.

Les invitamos a formar parte de una historia en donde se comparte,
se educa y se aprende gracias a ti y todos los que colaboren para que este sistema funcione, se mantenga y crezca.</p></div>
</div>


  
