<br>
<div class="panel panel-default">
	<div class="panel-heading"><h2>Registrarse</h2></div>
		<div class="panel-body">
			<form id="form" onsubmit="return lanzarModal()">
				<div class="form-group">
					<label for="name">Nombre:</label>
					<input type="text" class="form-control" id="name" placeholder="Ingrese su nombre aquí..." required>
				</div>
				<div class="form-group">
					<label for="contraseña">Contraseña:</label>
					<input type="text" class="form-control" id="contraseña" placeholder="Ingrese su contraseña..." required>
				</div>
				<div class="form-group">
					<label for="email">Email:</label>
					<input type="email" class="form-control" id="email" placeholder="Ingrese su correo..." required >
				</div>
				<div class="form-group">
					<label for="birthdate">Fecha Nacimiento:</label>
					<input type="date" class="form-control" id="birthdate" required>
				</div>
				<div class="form-group">
					<input type="submit" class="btn btn-default" id="ok" value="Ingresar datos">
				</div>
			</form>
		</div>
</div>
	
<div class="modal fade" id="miModal" role="dialog">
	<div class="modal-dialog">
	  <div class="modal-content">
		<div class="modal-header">
		  <button type="button" class="close" data-dismiss="modal">&times;</button>
		  <h4 class="modal-title">¡Gracias!</h4>
		</div>
		<div class="modal-body">
		  <p>Le agradecemos haber completado nuestra solicitud, pronto le daremos una respuesta.</p>
		</div>
		<div class="modal-footer">
		  <button type="button" class="btn btn-default" data-dismiss="modal" onclick="/">Ok</button>
		</div>
	  </div>
	</div>
</div>
<script>
function lanzarModal()
{	
	$("#miModal").modal();
	return false;
}
</script>