<table>
	<tr>
		<th>Titulo</th>
		<th>Editorial</th>
		<th>Autor</th>
		<th>Paginas</th>
	</tr>
	<tr>
		<% libros.forEach(function(item){ %>
			<td><%= item.titulo %></td>
			<td><%= item.editorial %></td>
			<td><%= item.autor %></td>
			<td><%= item.paginas %></td>
		<% }); %>
	</tr>
</table>