
body
{
	background-color: white;
	background-repeat: no-repeat;
	background-position: fixed center center;
	background-size: cover;
	background-image: url("../img/fondo.jpg");
}

div.cabecera
{
	background-color: white;
}

footer
{
	margin-top: 8px;
	padding: 10px;
    color: gray;
	background-color: black;
}

.modal-header, h4, .close {
      background-color: #5cb85c;
      color:white !important;
      text-align: center;
      font-size: 30px;
  }
.modal-footer {
      background-color: #f9f9f9;
  }
  
.nav .nav li a{
	  color:green;
  }

.carousel-inner img {
    width: 100%;
	height: 100%;
}

.carousel-inner{
	width: 100%;
}

div.navegador-derecha
{
	padding-right: 10px;
}

h1
{
	color: black;
	background: #B9121B;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  display: inline-block;
  padding: 10px;
}

.full-screen {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

h3 {
  display: inline-block;
  padding: 10px;
  background: #B9121B;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}