<html>
<head>
        <% include ../partials/head %>
    </head>
    <body>
        <header>
           <% include ../partials/header %>
        </header>
		<br>
<br>
<br>
		<section>
	<div class="row content">
    
		<div class="col-sm-3">
			<% include ../partials/carrusel2 %>
		</div>
		
		<div class="col-sm-7">
			<% include ../partials/quienessomos %>
		</div>
	</div>
    </section>
<br>
        <footer>
            <% include ../partials/footer %>
        </footer>
    </body>
</html>