<!DOCTYPE html>
<html>
    <head>
        <% include ../partials/head %>
    </head>
    <body style="background-image:none">
        <header>
           <% include ../partials/header %>
        </header>
	
<br>
<br>
<br>
    <section>
		<% include ../partials/carrusel3 %>
    </section>
        <footer>
            <% include ../partials/footer %>
        </footer>
    </body>
</html>