<!DOCTYPE html>
<html>
    <head>
        <% include ../partials/head %>
    </head>
    <body>
        <header>
           <% include ../partials/header2 %>
        </header>

<br>
<br>
<br>
    <section>
		<% include ../partials/carrusel3 %>
    </section>
<br>
        <footer>
            <% include ../partials/footer %>
        </footer>
    </body>
</html>