<html>
    <head>
        <% include ../partials/head %>
    </head>
    <body>
        <header>
           <% include ../partials/header %>
        </header>
<br>
<br>
<br>
    <section>
	<div class="container-fluid">
		<div class="row content">
			<article class="col-sm-3 sidenav">
				<% include ../partials/carrusel2 %>
			</article>
			
			<article class="col-sm-9 sidenav">
				<% include ../partials/registroForm %>
			</article>
		</div>
	</div>
    </section>
<br>
        <footer>
            <% include ../partials/footer %>
        </footer>
    </body>
</html>