<html>
<head>
        <% include ../partials/head %>
    </head>
    <body>
        <header>
           <% include ../partials/header %>
        </header>
<br>
<br>
<br>
	<section>
	<div class="container-fluid">
		<div class="row content">
			<article class="col-sm-3 sidenav">
				<% include ../partials/carrusel2 %>
			</article>
			<center>
			<article class="col-sm-5 sidenav">
				<% include ../partials/solicitarTable %>
			</article>
			</center>
		</div>
	</div>
    </section>
<br>
        <footer>
            <% include ../partials/footer %>
        </footer>
    </body>
</html>